body > footer {
  background-color: var(--color-foreground);
  padding: 2rem 0 6rem 0;
}
body > footer > .content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 700px) {
  body > footer > .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
body > footer > .content > section {
  flex: auto;
  width: 100%;  
  max-width: 250px;
}
body > footer > .content > section.copyright {
  margin-left: 3rem;
  position: relative;
}
body > footer > .content > section.copyright > header > h2 {
  margin: 1rem 0 .25rem 0;
  font-size: 2.25rem;
}
body > footer > .content > section.copyright > header > .logo {
  font-size: 2.5rem;
  position: absolute;
  left: -3rem;
  top: .75rem;
}
@media (max-width: 700px) {
  body > footer > .content > section.copyright {
    margin-left: 0;
  }
  body > footer > .content > section.copyright > header > .logo {
    position: relative;
    left: auto;
    top: auto;
  }
}
body > footer > .content > section.media > header > .handle {
  font-size: 1rem;
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  color: var(--color-background);
}
body > footer > .content > section > header {
  border-bottom: 2px solid var(--color-background);
}
body > footer > .content > section > header > h2 {
  font-size: 1.5rem;
  line-height: 100%;
  display: inline-block;
  margin: 1.75rem 0 .25rem 0;
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  color: var(--color-background);
}
body > footer > .content > section > p,
body > footer > .content > section > p > a,
body > footer > .content > section > ul > li > a {
  font-family: var(--font-stack-sans-serif);
  color: var(--color-background);
}
body > footer > .content > section > p {
  margin: .25rem 0;
}
body > footer > .content > section > ul {
  list-style-type: none;
  margin: .25rem 0;
  padding: 0;
}
body > footer > .content > section > ul > li {
  margin: 0;
}
