body > header > section.translations {
  background-color: var(--color-foreground);
  padding: .5rem;
}
body > header > section.translations > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}
body > header > section.translations > ul > li {
  display: inline-block;
  font-size: 1rem;
  font-family: var(--font-stack-condensed);
}
body > header > section.translations > ul > li.current-language {
  background-color: var(--color-background);
}
body > header > section.translations > ul > li > a {
  color: var(--color-background);
  padding: .25rem .5rem;
}
body > header > section.translations > ul > li.current-language > a {
  color: var(--color-foreground);
}
body > header > h2 {
  background-color: var(--color-background);
  text-align: center;
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 4rem;
  margin: 0;
}
body > header > h2 > a {
  color: var(--color-foreground);
  text-decoration: none;
  letter-spacing: -2px;
}
body > header > nav.primary {
  background-color: var(--color-background);
  padding: .25rem .5rem;
}
body > header > nav.primary > ul {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body > header > nav.primary > ul > li {
  display: inline-block;
  font-family: var(--font-stack-condensed);
  margin: .25rem 0;
}
body > header > nav.primary > ul > li > a {
  display: inline-block;
  font-size: 1.5rem;
  padding: .125rem .5rem;
  color: var(--color-foreground);
}
/* Active Section */
body > header > nav.primary > ul > li.current-section:not(:first-child) {
  background-color: var(--color-foreground);
}
body > header > nav.primary > ul > li.current-section:not(:first-child) > a {
  color: var(--color-background);
  padding: .125rem 1rem;
}
/* Logo */
body > header > nav.primary > ul > li:first-child {
  background-image: url('/images/brand/sheep.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: border-box;
}
body > header > nav.primary > ul > li:first-child > a {
  padding: 0;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0;
}
/* Log In & Sign Up */
body > header > nav.primary > ul > li:nth-last-child(-n+2) {
  background-color: var(--color-foreground);
}
body > header > nav.primary > ul > li:nth-last-child(-n+2) > a {
  color: var(--color-background);
  padding: .125rem 1rem;
}
