.page {
  background-color: var(--color-background);
}
.page > #TableOfContents {
  margin: 2rem 0;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem .5rem 1rem .5rem;
}
.page > #TableOfContents > ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-style: solid;
  border-color: var(--color-foreground);
  border-width: 4px 0;
}
.page > #TableOfContents ul {
  margin: 0;
}
/* .page > #TableOfContents ul > li { */
/* } */
.page > #TableOfContents ul > li > a {
  color: var(--color-foreground);
  font-family: var(--font-stack-sans-serif);
}
.page > section.content {
  color: var(--color-foreground);
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem .5rem 1rem .5rem;
}
.page > section.content > h2 {
  margin: 2rem 0 0 0;
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 2.25rem;
}
.page > section.content > h2:first-child {
  margin-top: 0;
}
.page > section.content > h3 {
  margin: 1.5rem 0 .5rem 0;
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 1.5rem;
}
.page > section.content > h2 > a.anchor,
.page > section.content > h3 > a.anchor {
  text-decoration: none;
}
.page > section.content > h2 > a.anchor::after,
.page > section.content > h3 > a.anchor::after {
  content: ' #';
  color: var(--color-foreground);
}
.page > section.content > p,
.page > section.content > ul {
  margin: .5rem 0 0 0;
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
}
.page > section.content ul > li {
  margin: .25rem 0;
}
.page > section.content > h2 + p > em {
  background-color: var(--color-background-cta);
  color: var(--color-foreground-cta);
  font-family: var(--font-stack-monospace);
  padding: 0 .25rem;
  display: inline-block;
  font-size: .75rem;
  text-transform: uppercase;
}
.page > section.content > figure {
  text-align: center;
  margin: 1rem 0;
  padding: 2rem .5rem 1rem .5rem;
  background-color: var(--color-foreground);
  font-size: 0;
}
.page > section.content > figure img {
  max-width: 100%;
  height: auto;
}
.page > section.content > figure h4 {
  margin: 0;
  color: var(--color-background);
  font-family: var(--font-stack-slab);
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}
.page > section.content code {
  word-wrap: break-word;
  font-family: var(--font-stack-monospace);
  background-color: var(--color-midground);
  /* color: var(--color-background); */
  padding: 0 .25rem;
}
.page > section.content a code {
  text-decoration: underline;
}
.page > section.content > pre {
  font-family: var(--font-stack-monospace);
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 1rem .75rem;
}
