.page.products-list {
  background-color: var(--color-background);
}
.page.products-list > section.title {
  background-color: var(--color-foreground);
  padding: 4rem 1rem;
  text-align: center;
}
.page.products-list > section.title > h1 {
  margin: 0;
  text-align: center;
  color: var(--color-background);
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 2.25rem;
}
.page.products-list > section.products {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem .5rem 1rem .5rem;
}
