{{ define "main" }}
<main>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    <article>
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      {{ .Permalink }}
    </article>
  {{ end }}
</main>
{{ end }}
