<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ with .Title }} {{ . }} | {{ end }}{{ .Site.Title }}</title>
<link rel="stylesheet" type="text/css" href="{{ "styles/index.css" | relURL | safeHTMLAttr }}" />

{{ if isset .Params "css" }}
{{- range (slice | append .Params.css) }}
<link rel="stylesheet" type="text/css" href="{{ . | relURL | safeHTMLAttr }}" />
{{ end }}
{{ end }}

{{- with $.Param "author" }}
<meta name="author" content="{{ . }}">
{{ end }}

{{- if or .Keywords $.Site.Params.keywords }}
<meta name="keywords" content="{{ if .Keywords }}{{ delimit .Keywords ", " }}{{ else }}{{ delimit $.Site.Params.keywords ", " }}{{ end }}">
{{ end }}

{{- if or .Description $.Site.Params.description }}
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ $.Site.Params.description }}{{ end }}">
{{ end }}

{{- template "_internal/opengraph.html" . }}

{{- template "_internal/twitter_cards.html" . }}

<link rel="icon" type="image/svg+xml" href="{{ "images/brand/sheep.svg" | relURL | safeHTMLAttr }}">

{{- with .OutputFormats.Get "rss" }}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end }}

{{- hugo.Generator }}
