<header>
  <section class="translations">
    <ul>
      {{- $currentLang := .Lang -}}
      {{ range sort .AllTranslations ".Language.LanguageName" "asc" }}
      <li{{ if eq .Lang $currentLang }} class="current-language"{{ end }}>
        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      </li>
      {{ end }}
    </ul>
  </section>

  <h2>
    <a href="{{ "/" | relLangURL }}">
      {{ .Site.Title }}
    </a>
  </h2>

  <nav class="primary">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.primary }}
      <li{{ if or ($currentPage.IsMenuCurrent "primary" .) ($currentPage.HasMenuCurrent "primary" .) }} class="current-section"{{ end }}>
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
