{{ define "main" }}
<main class="page home">
  <section class="intro">
    <article>
      <h1>{{ i18n "page-home-intro-internet" }}</h1>
      <p>{{ i18n "page-home-intro-internet-description" }}</p>
      <h1>{{ i18n "page-home-intro-freedom" }}</h1>
      <p>{{ i18n "page-home-intro-freedom-description" }}</p>
      <h1>{{ i18n "page-home-intro-by" }}</h1>
      <p>{{ i18n "page-home-intro-by-description" }}</p>
      <h1>{{ i18n "page-home-intro-for" }}</h1>
      <p>{{ i18n "page-home-intro-for-description" }}</p>
      <h1>{{ i18n "page-home-intro-of" }}</h1>
      <p>{{ i18n "page-home-intro-of-description" }}</p>
    </article>
  </section>
  <section class="products">
    {{ range slice "doh" "cdn" "hosting" "gopher" }}
    {{ with $.Site.GetPage path.Join "products" . }}
    {{ partial "products/summary.html" . }}
    {{ end }}
    {{ end }}
  </section>
  <section class="foss">
    <img src="/images/icons/book-open-page-variant.svg" alt="Icon showing an open book">
    <h2>{{ i18n "page-home-foss-title" . | markdownify }}</h2>
    {{ i18n "page-home-foss-description" . | markdownify }}
  </section>
</main>
{{ end }}

{{ define "styles" }}
{{ partial "helpers/style.html" "styles/home.css" }}
{{ partial "helpers/style.html" "styles/partials/products/summary.css" }}
{{ end }}
