:root,
:host {
  --color-background: white;
  --color-midground: gainsboro;
  --color-foreground: black;
  --color-background-cta: #7ED321;
  --color-foreground-cta: white;
  --color-background-warning: #D0021B;
  --color-foreground-warning: white;
}

/* `dark`, `light`, or `no-preference` */
@media (prefers-color-scheme: dark) {
  :root,
  :host {
    --color-background: black;
    --color-foreground: white;
  }
}
