.page.home {
  background-color: var(--color-background);
}
.page.home > section.intro {
  background-color: var(--color-foreground);
  padding: 4rem 1rem;
  text-align: center;
}
.page.home > section.intro > article {
  text-align: initial;
  max-width: 1000px;
  display: inline-grid;
  grid-template-areas: 'title description';
  grid-template-rows: auto;
  justify-items: start;
  align-items: end;
  row-gap: 1rem;
  column-gap: 1rem;
}
@media (max-width: 700px) {
  .page.home > section.intro > article {
    grid-template-areas: none;
    row-gap: 0;
  }
  .page.home > section.intro > article > h1:not(:first-child) {
    padding-top: 2.25rem;
  }
  .page.home > section.intro > article > h1,
  .page.home > section.intro > article > p {
    width: 100%;
    text-align: center;
  }
}
.page.home > section.intro > article > h1 {
  margin: 0;
  text-align: center;
  color: var(--color-background);
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 2.25rem;
}
.page.home > section.intro > article > p {
  padding-bottom: .33rem;
  margin: 0;
  color: var(--color-background);
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
}
.page.home > section.slogan {
  display: none;
  background-color: var(--color-foreground);
}
.page.home > section.slogan > header {
  padding: 4rem 1rem;
}
.page.home > section.slogan > header > h1 {
  text-align: center;
  color: var(--color-background);
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 2.25rem;
}
.page.home > section.products {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem .5rem 1rem .5rem;
}
.page.home > section.foss {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem .5rem 4rem .5rem;
  color: var(--color-foreground);
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
}
.page.home > section.foss > img {
  float: left;
  height: 150px;
  margin: 0 1rem 1rem 0;
}
@media (max-width: 700px) {
  .page.home > section.foss > img {
    height: 100px;
  }
}
.page.home > section.foss > h2 {
  font-family: var(--font-stack-monospace);
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 1.1;
  letter-spacing: -1px;
  margin: 1rem;
}
