@import './colours.css';
@import './fonts.css';
@import './partials/header.css';
@import './partials/footer.css';

html {
  font-size: 16px;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  background-color: var(--color-foreground);
}
