{{ partial "helpers/style.html" "styles/products/doh-benchmark.css" }}

<section class="doh-benchmark">
  <button class="start">Start Benchmark</button>
</section>

{{ partial "helpers/script.html" "scripts/products/doh-benchmark.js" }}
