article.partial.products-summary > h2 {
  color: var(--color-foreground);
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 1.1;
  margin: 1rem 0 0 0;
}
article.partial.products-summary > img {
  float: right;
  height: 100px;
}
@media (min-width: 700px) {
  article.partial.products-summary > img {
    height: 150px;
  }
}
article.partial.products-summary > section,
article.partial.products-summary > section > p {
  color: var(--color-foreground);
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
article.partial.products-summary > p {
  padding: 0 0 4rem 0;
}
article.partial.products-summary > p > a {
  display: inline-block;
  background-color: var(--color-background-cta);
  color: var(--color-foreground-cta);
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 1.5rem;
  padding: .25rem 2rem;
  border: 2px solid var(--color-foreground);
}
  