{{ define "main" }}
<main class="page products-list">
  {{ partial "helpers/title.html" . }}
  <section class="products">
    {{ range .Pages }}
    {{ partial "products/summary.html" . }}
    {{ end }}
  </section>
</main>
{{ end }}

{{ define "styles" }}
{{ partial "helpers/style.html" "styles/products/list.css" }}
{{ partial "helpers/style.html" "styles/partials/products/summary.css" }}
{{ partial "helpers/style.html" "styles/partials/helpers/title.css" }}
{{ end }}
