{{ define "main" }}
<main class="page {{ .Type }}-{{ .File.ContentBaseName }}">
  {{ partial "helpers/title.html" . }}
  {{ .Page.TableOfContents }}
  <section class="content">
    {{ partial "helpers/anchors.html" .Content }}
  </section>
  {{ if print "layouts/partials/" .Type "/" .File.ContentBaseName ".html" | fileExists -}}
  <section class="showcase">
    {{ partial (print "content/" .Type "/" .File.ContentBaseName ".html") . }}
  </section>
  {{ end }}
</main>
{{ end }}

{{ define "styles" }}
{{ partial "helpers/style.html" "styles/partials/helpers/title.css" }}
{{ partial "helpers/style.html" "styles/products/content.css" }}
{{ end }}

{{ define "scripts" }}
{{ end }}
